body{
	color: #FFFFFF;
	background-color:#000000;
	font-family: verdana, sans-serif, arial;
	font-size:18pt;
}
h1{
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  text-decoration: underline;
}
a{
	color: #FFFFFF;
	text-decoration: none;
}
a:hover{
	color: #FFFFFF;
	text-decoration: underline;
}

div#main{
	margin-top: 50px;
	border: 1px solid #FFFFFF;
	width: 1048px;
	margin: 0 auto;
	padding:0px;
	padding-left: 25px;
	box-shadow: 0 8px 16px 0 rgba(255,255,255,0.6);
	border-radius: 15px;
}

div.clear{
	clear: both;
}
div.image{
	border: 1px solid lightblue;
	float: left;
	margin-left: 15px;
	text-align: center;
	width: 181px;
	height: 435px;
}
div.image:hover{
        border: 1px solid lightblue;
        float: left;
        margin-left: 15px;
        text-align: center;
        width: 186px;
        height: 440px;
	text-decoration: underline;
	box-shadow: 0 8px 16px 0 rgba(255,255,255,0.6);
	background-color: #2e2d2b;
}

div.container{
	/*border-bottom: 1px solid lightblue;*/
	margin-top: 25px;
	padding : 10 px;
}
div.detail{
	text-align: justify;
/*	border: 1px solid #636363;*/
	float: left;
	margin-left: 15px;
	text-align: center;
	width: 315px;
}
.button{
	background-color: #bdbfbe;
	border: none;
	border-radius: 30px;
	color: #FFFFFF;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}
.button:hover{ 
        background-color: #bdbfbe;
        border: 1px solid #FFFFFF;
        border-radius: 30px;
        color: #FFFFFF;
        padding: 15px 32px;
        text-align: center;
        text-decoration: underline;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
	box-shadow: 0 8px 16px 0 rgba(255,255,255,0.6);
}

.play{
        background-color: #bdbfbe;
        border: none;
        border-radius: 30px;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
}
.play:hover{ 
        background-color: #bdbfbe;
        border: 1px solid #FFFFFF;
        border-radius: 30px;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: underline;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        box-shadow: 0 8px 16px 0 rgba(255,255,255,0.6);
}
